$dark-primary-color : #0288D1; 
$default-primary-color : #03A9F4; 
$light-primary-color   : #B3E5FC; 
$text-primary-color    : #FFFFFF; 
$accent-color          : #607D8B; 
$primary-text-color    : #212121; 
$secondary-text-color  : #757575; 
$divider-color         : #BDBDBD; 
$light-accent-color    : #F7F7F7;
$lighter-primary-color : #CBEBFA;

.features-container {
    width: 100%;
    min-height: 600px;
    height: auto;
    background-color: transparent;
    background-image: linear-gradient(40deg, #a7e0f8 30%, transparent 30%) ;
    align-items: center !important;
    align-content: center !important;
    text-align: center !important;
    justify-content: center !important;
}

.feature-titles{
    font-size: 2em !important;
}

.buttongroup-style{
    width: 50% !important;
    color: $default-primary-color !important;
    justify-content: center !important;
    align-content: center !important;
    justify-items: center !important;
}
